<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    
    <h1><%=showTitle %></h1>
    <div class="container-fluid">
        <div class="grid" style="--bs-columns: 4; --bs-gap: 5rem;"> 
        <% podcast.forEach((podcast)=> { %>
            <div class="row">
            <div class="g-col-6 g-col-md-4">
                        <h2>
                            <%= podcast.title %>
                        </h2>
                        <p>Download Link:
                            <a href="<%= podcast.link %>" ><%= podcast.link %></a>
                        </p>
                    </p><%- podcast.details %></p>
            </div>
        </div>
        <% }) %>
    </div>
</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>