<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>
<div class="containter">
  <% let i = 0 %>
  
    <div class="row">
      <% podcast.forEach((podcast)=> { %>    
        <div class="col">              
      <h2>
      <%= podcast.title %>
      </h2>
      <p>Download Link:
      <a href="<%= podcast.link %>" ><%= podcast.link %></a>
      </p>
      </p><%- podcast.details %></p>      
        
        </div>
      <% if (i < 2) { i +=1 %>
         
      <% } else {  i = 0 %> 
    </div>  <div class="row">
      <% i = 0 } %>
      <% }) %>
    </div>
</div>
 
  

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>