<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <script src="/static/player.js"></script>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="container-fluid">
      <% podcast.forEach((podcast)=>  {  %>
      <h1>
        <%= podcast.title %>
      </h1>
      <video id="vid" controls id="videoPlayer" poster="<%= podcast.thumbnail  %>" width="900" preload="none">
        <source src="<%= podcast.link %> " type="video/mp4" />
        <track label="English" kind="descriptions" default>
      </video>
      <p><%- podcast.summary %></p>
      <% }) %>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>